@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* Light mode variables */
  --background: #ffffff; /* Example: white background for light mode */
  --foreground: #000000; /* Example: black text for light mode */
  /* Add other variables for light mode */
  transition: background-color 0.5s, color 0.5s;
}

.dark {
  /* Dark mode variables */
  --background: #282c34; /* Darker background for dark mode */
  --foreground: #c7c7c7; /* Lighter text for dark mode */
  /* Override other variables for dark mode as needed */
}
:root {
  --particle-color-light: #000000; /* Black particles for light mode */
  --gradient-color-light: #FFFFFF; /* White gradient for light mode */

  --particle-color-dark: #FFFFFF; /* White particles for dark mode */
  --gradient-color-dark: #000000; /* Black gradient for dark mode */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
  .data-active {
    --background: 222.2 84% 4.9%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}
.map-container {
  /* Adjust the size as needed */
  width: 100%;
  max-width: 900px; /* Example size */
  height: 600px; /* Example height */
  border-radius: 20px; /* Rounded corners */

}


.marker {
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.map-container .mapboxgl-popup-content {
  line-height: 1.5;
  color: black;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

}
.mapboxgl-popup-close-button {
  background-color: indianred !important;
  top: -5px !important;
  right: -5px !important;
  border-radius: 20px 20px 20px 20px!important;
  cursor: pointer;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}



.activeLink {
  color: #ffb65f; /* Active link color - adjust as needed */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
